@using System.Data.Entity;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineShop.Models.Product>

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<section style="margin-bottom:0px">
    <div class="home-carousel">

        <div class="dark-mask"></div>

        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <p>
                                <img src="~/Asset/User/img/logo.png" alt="">
                            </p>
                            <h1>Multipurpose responsive theme</h1>
                            <p>
                                Business. Corporate. Agency.
                                <br />Portfolio. Blog. E-commerce.
                            </p>
                        </div>
                        <div class="col-sm-7">
                            <img class="img-responsive" src="~/Asset/User/img/template-homepage.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">

                        <div class="col-sm-7 text-center">
                            <img class="img-responsive" src="~/Asset/User/img/template-mac.png" alt="">
                        </div>

                        <div class="col-sm-5">
                            <h2>46 HTML pages full of features</h2>
                            <ul class="list-style-none">
                                <li>Sliders and carousels</li>
                                <li>4 Header variations</li>
                                <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                                <li>+ 11 extra pages showing template features</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <h1>Design</h1>
                            <ul class="list-style-none">
                                <li>Clean and elegant design</li>
                                <li>Full width and boxed mode</li>
                                <li>Easily readable Roboto font and awesome icons</li>
                                <li>7 preprepared colour variations</li>
                            </ul>
                        </div>
                        <div class="col-sm-7">
                            <img class="img-responsive" src="~/Asset/User/img/template-easy-customize.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-7">
                            <img class="img-responsive" src="~/Asset/User/img/template-easy-code.png" alt="">
                        </div>
                        <div class="col-sm-5">
                            <h1>Easy to customize</h1>
                            <ul class="list-style-none">
                                <li>7 preprepared colour variations.</li>
                                <li>Easily to change fonts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>

</section>

<div class="row" style="background-color: #38a7bb;margin-bottom: 10px; ">
    <div style="margin:1%">
        <div class="Search">
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm" id="txtSearch" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="input-group" style="margin-left:5px">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit" style="margin-left:5px">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng
                </button>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">


            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-sm-3">

                <!-- *** MENUS AND FILTERS ***
                _________________________________________________________ -->
                @{

                    var context = new OnlineShop.Models.ApplicationDbContext();
                    var categoryProducers = context.CategoryProducers.Where(c => c.Status == true).Include(c => c.Category).Include(c => c.Producer).OrderBy(c => c.CategoryId).ToList();

                    var results = categoryProducers.GroupBy(c => c.CategoryId).ToDictionary(g => g.Key, g => g.Select(i => new
                    {
                        CategoryName = i.Category.Name,
                        CategoryId = i.CategoryId,
                        ProducerName = i.Producer.Name,
                        ProducerId = i.ProducerId,
                        CategoryImage = i.Category.Image,
                        MetaKeyword = i.Category.MetaKeyword
                    }));

                    Html.RenderPartial("~/Views/Shared/LeftMenu.cshtml", Newtonsoft.Json.JsonConvert.SerializeObject(results));
                }

                <!-- *** MENUS AND FILTERS END *** -->

                <div class="banner">
                    <a href="shop-category.html">
                        <img src="~/Asset/User/img/banner.jpg" alt="sales 2014" class="img-responsive">
                    </a>
                </div>
                <!-- /.banner -->

            </div>
            <!-- /.col-md-3 -->
            <!-- *** LEFT COLUMN END *** -->
            <!-- *** RIGHT COLUMN ***
            _________________________________________________________ -->

            <div class="col-sm-9">
                @{
                    if (Model.Count == 0)
                    {
                        <h1 style="text-align:center">Không có sản phẩm</h1>
                    }
                }

                <div class="row products">

                    @foreach (var product in Model)
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="image" style="height: 212px;">
                                    <a href="@Url.Content($"~/san-pham/{product.MetaKeyword}/chi-tiet")">
                                        <img src="@Url.Content($"~/Photos/Product/{product.Image}")" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="shop-detail.html">@product.ProductName</a></h3>
                                    <p class="price">@product.Price.Value.ToString("N0") VND</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                    }

                    <!-- /.col-md-4 -->
                </div>
                <!-- /.products -->

                <div class="pages" style="float:right">
                    @{
                        if (ViewBag.ControllerName == "Home" && ViewBag.ActionName == "HomePage")
                        {
                            @Html.PagedListPager(Model, page => Url.Action(ViewBag.ActionName, new { page }));
                        }
                        else if (ViewBag.ControllerName == "Product" && ViewBag.ActionName == "GetProductbyCategory")
                        {
                            @Html.PagedListPager(Model, page => Url.Action(ViewBag.Category, "san-pham", new { page }));
                        }
                        else if (ViewBag.ControllerName == "Product" && ViewBag.ActionName == "GetProductByCategoryProducer")
                        {
                            @Html.PagedListPager(Model, page => Url.Action(ViewBag.Category +"/"+ ViewBag.Producer, "san-pham", new { page }));
                        }


                    }
                </div>


            </div>
            <!-- /.col-md-9 -->
            <!-- *** RIGHT COLUMN END *** -->

        </div>

    </div>
</div>


@section Script {
}
